.guesses {
  display: block;
  width: 90%;
  height: auto;
  font-size: 18px;
  text-align: left;
  padding: 15px;
  border: 2px solid #e7e7e7;
  border-radius: 3px;
  background: #e7eb7f;
  margin: 1px auto 20px;
  transition: opacity 0.4s;
  overflow-x: auto;
  overflow-y: hidden;
}

.counter-section {
  display: block;
  width: 90%;
  height: 60px;
  text-align: center;
  font-size: 15px;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  margin: 5px auto 20px;
  transition: opacity 0.4s;
  background: #aeb6bf;
}

.app {
  border: 2px solid black;
  border-radius: 3px;
  margin: 0 auto;
  width: 500px;
  height: 470px;
  background: #808080;
}
