.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;

  background-color: #cccccc;
  border-bottom: 1px solid #dddddd;
}

.nav-link {
  font-size: 18px;
  padding: 0 6px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 10px;
}

.nav-link-what {
  font-weight: bold;
  font-size: 18px;
  padding: 0 6px;
}

/* Tricky / Interaction not obvious and not annotated, first :hover */
span {
  text-decoration: none;
}

span:hover {
  cursor: pointer;
}
