.response {
  display: block;
  width: 90%;
  height: auto;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  border: 2px solid #e7e7e7;
  border-radius: 3px;
  background: #32a2a8;
  margin: 5px auto;
  transition: opacity 0.4s;
}
